body {
}

.nav a {
    float: left;
    color: black;
    text-decoration: none;
    font-size: 18px;
    line-height: 25px;
    border-radius: 4px;
}

    nav a:hover {
        color: darkgray;
    }

.navbar {
    box-shadow: 1px 2px 4px rgba(0, 0, 0, .5);
    background-color: #ecf0f1;

}

.jumbotron {
    height: 400px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../../Image/Jumbotron/garden.jpg');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    padding: 0px;
    text-align: center;
    text-shadow: 1px 1px #000;
    color: white;
}

.hero-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.row-space {
    margin: 30px
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: rgba(0, 0, 0, .5);
    border-radius: 10px;
}

.card {
    border: 5px;
    border-radius: 10px;
    box-shadow: 1px 2px 4px rgba(0, 0, 0, .5);
    margin: 5px;
    padding: 10px;
    background-color: white;
    display: flex;
    flex-direction: column
}

.card:hover .overlay {
    opacity: 1;
}

.text {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}

.step {
    border: 1px;
    border-radius: 10px;
    box-shadow: 1px 2px 4px rgba(0, 0, 0, .5);
    margin:10px;
    padding:10px;
    background-color: white
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}

th, td {
    padding: 5px;
    text-align: left;
}

tr:nth-child(even) {
    background-color: #eee;
}

tr:nth-child(odd) {
    background-color: #fff;
}

th {
    color: white;
    background-color: #4CAF50;
}

/*!
 * reference: https://www.w3schools.com/howto/howto_css_menu_horizontal_scroll.asp
 */
div.scrollmenu {
    background-color: white;
    overflow: auto;
    white-space: nowrap;
}

    div.scrollmenu .card-container {
        display: inline-block;
        color: black;
        text-align: center;
        padding: 14px;
        text-decoration: none;
    }


.thumbnail img {
    padding: 5px;
    width: 100%!important;
    max-height: 250px;
    transition:0.3s all ease;
    object-fit: cover;
}

.img-container{
    height:250px;
}

.card-container{
    padding-top: 15px;
    padding-bottom: 15px;
}

.plant-container {
    padding-top: 15px;
    padding-bottom: 15px;
}

/*.thumbnail img:hover {
    transform: scale(1.1,1.1);
}*/

.thumbnail {
    overflow:hidden;
    box-shadow:0px 3px 5px rgba(0,0,0,0.3);
    min-height:438px;
}

.navbar a{
    font-size:16px;
}

.card-custom{
    height:200px!important;
    overflow:hidden;
}

.card-find img{
    max-width:100%;
}

.card-tile {
    background: #fff;
    color: #666;
    border-radius: 5px;
    box-shadow: 0px 0px 5px rgba(0,0,0,0.5);
    padding: 10px;
    display: flex;
    flex-direction: column
}

.card-tile img{
    border-radius:50%;
    background-color:#e6e6e6;
    margin:auto;
    text-align:center;
    height: 80px;
}

.card-tile .title{
    font-weight:bold;
    margin-top:20px;
}

.anchor {
    display: block;
    height: 115px; /*same height as header*/
    margin-top: -115px; /*same height as header*/
    visibility: hidden;
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

#mySidenav button {
    position: fixed;
    right: -80px;
    transition: 0.3s;
    padding: 15px;
    width: 100px;
    text-decoration: none;
    font-size: 20px;
    color: white;
    border-radius: 5px 0 0 5px;
}

    #mySidenav button:hover {
        right: 0;
    }

#saved {
    top: 30%;
    position: fixed;
    background-color: #4CAF50;
}

.sidebar {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: white;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    box-shadow: 1px 2px 4px rgba(0, 0, 0, .5);
}

    .sidebar .head {
        position: absolute;
        top: 0;
        width: 100%;
        background-color: #ecf0f1;
        padding: 24px 0px 24px 0px;
        box-shadow: 1px 2px 4px rgba(0, 0, 0, .5);
    }

.mybtn {
    padding: 8px 8px 8px 8px;
    vertical-align: middle;
    width: 80%;
}

/*page loader, reference: https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_loader5 */
#loader {
    z-index: 1;
    width: 150px;
    height: 150px;
    margin: -75px 0 0 -75px;
    border: 16px solid #f8f9fa;
    border-radius: 50%;
    border-top: 16px solid #4CAF50;
    width: 120px;
    height: 120px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
    margin: 200px auto 200px auto;
}

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

/* Add animation to "page content" */
.animate-bottom {
    position: relative;
    -webkit-animation-name: animatebottom;
    -webkit-animation-duration: 1s;
    animation-name: animatebottom;
    animation-duration: 1s
}

@-webkit-keyframes animatebottom {
    from {
        bottom: -100px;
        opacity: 0
    }

    to {
        bottom: 0px;
        opacity: 1
    }
}

@keyframes animatebottom {
    from {
        bottom: -100px;
        opacity: 0
    }

    to {
        bottom: 0;
        opacity: 1
    }
}

.myicon {
    position: absolute;
    top: 0;
    right: 8px;
    font-size: 20px;
    text-decoration: none;
    display: block;
    transition: 0.3s;
    color: black;
    text-decoration: none;
}

    .myicon:hover {
        color: darkgray;
    }

.myicon2 {
    position: absolute;
    top: 5px;
    right: 10px;
    font-size: 20px;
    text-decoration: none;
    display: block;
    transition: 0.3s;
    color: #efa4a4;
    text-decoration: none;
}

    .myicon2:hover {
        color: red;
    }