@{
    ViewBag.Title = "Solution to Weed Problems";
}
    <div class="container">
        <h2>@ViewBag.Title</h2>
        <div class="text-center">
            <h3>Are you creating weed problems in your garden?</h3>
            <p>Are your garden plants ‘jumping the fence’? Garden escapes are said to be one of the main sources of environmental weeds. Homeowners have a responsibility to protect natural resources. Here are some simple ways to enjoy gardening without creating problems outside the garden fence.</p>
        </div>
        <ul>
            <li>Recognise and remove plants known to be ‘weedy’ and destroy them responsibly, according to local council or shire regulations.</li>
            <li>Replace problem plants with non-invasive alternatives, as suggested by the ‘Grow Me Instead’ booklet or by your local nursery or garden centre. They will help identify any suspect invasive plants.</li>
            <li>
                When purchasing new plants for the garden read labels to establish good characteristics such as drought tolerance and non-weedy habit.
            </li>
            <li>
                Good gardening practices include removal of spent flowers that can set seed within your garden or spread to bushland.
            </li>
            <li>Do not dump spent cut flowers into the garden or on to adjoining property. Florists often use seed heads, vines and other plant parts that may establish in your garden.
            </li>
            <li>Never tip the water or plants from your aquarium into ponds, rivers or waterways. There are numerous, serious aquatic plants threatening rivers and waterways because of the thoughtless actions of some people.
            </li>
            <li>
                There are many good sources of information in regard to weeds and their control. See the back cover for a list.
            </li>
            <li>
                Think global – act local. Consider plants local to your area. Your local council or shire will be able to provide a list of indigenous plants for your garden.
            </li>
            <li>
                Encourage friends and neighbours to become involved as custodians of their environment by following the same guidelines.
            </li>
        </ul>
    </div>