 @{
    ViewBag.Title = "About";
}
    <div class="container">
        <h5><a href='javascript:history.go(-1)'>Go Back to Previous Page</a></h5>
        <h2 class="text-center">@ViewBag.Title</h2>
        <hr />
    </div>