@{
    ViewBag.Title = "Contact";
}
    <div class="container">
        <h5><a href='javascript:history.go(-1)'>Go Back to Previous Page</a></h5>
        <h2 class="text-center">@ViewBag.Title</h2>
        <hr />
        <address>
            One Microsoft Way<br />
            Redmond, WA 98052-6399<br />
            <abbr title="Phone">P:</abbr>
            425.555.0100
        </address>

        <address>
            <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
            <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
        </address>
    </div>