@{
    ViewBag.Title = "Glossary";
}
<div class="container">
    <h5><a href='javascript:history.go(-1)'>Go Back to Previous Page</a></h5>
    <h2 class="text-center">@ViewBag.Title</h2>
    <hr />
</div>

<div class="container">
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Categories</th>
                <th>Terms and Descriptions</th>
            </tr>
        </thead>
        <tr>
            <td><strong>Weed Status</strong></td>
            <td>
                <strong>Environmental Weeds</strong>
                <p>
                    Environmental weeds are non-indigenous (not locally native) plants that
                    impact on indigenous vegetation by competing for space, nutrients, water, light and pollinators.
                    They are plants that invade native ecosystems and have the potential to adversely affect the survival
                    of native flora or fauna or the functioning of ecosystems.
                </p>
                <strong>Casual or Ruderal Species</strong>
                <p>
                    ‘Casual or ruderal’ species can grow and occasionally successfully reproduce in this new geographic
                    context but cannot, or have not, yet established long-term self-sustaining populations.
                </p>
                <strong>Previously Naturalized</strong>
                <p>
                    ‘Naturalised’ plants are those species that have established long-term self-
                    sustaining populations in their new geographic context. A significant proportion of the naturalised
                    flora have subsequently become environmental weeds. These are species that have demonstrated a
                    capacity to invade native ecosystems and are the species that have been ranked in the list for
                    conservation management purposes.
                </p>
            </td>
        </tr>
        <tr>
            <td><strong>Victorian status</strong></td>
            <td>
                <strong>Victorian Status</strong>
                <p>
                    Weeds are classified as either introduced to Victoria from other countries or parts
                    of Australia, or native to Victoria.
                </p>
                <strong>Introduced</strong>
                <p>
                    ‘Introduced’ species are those that have been brought by humans across a
                    geographic barrier.
                </p>
                <strong>Native to Victoria</strong>
                <p>
                    Belong to Victoria
                </p>
            </td>
        </tr>
        <tr>
            <td><strong>Abcission</strong></td>
            <td>
                <p>
                    The natural detachment of parts of a plant, typically dead leaves and ripe fruit. The
                    normal shedding from a plant of an organ that is mature or aged, a ripe fruit, an old leaf.
                </p>
            </td>
        </tr>
        <tr>
            <td><strong>Victorian Biomes</strong></td>
            <td>
                <p>
                    Victorian biomes in which the weeds are either existing or likely to invade.
                    Biomes are groupings of Victoria’s 28 bioregions, which are derived from a landscape-scale
                    classification of the environment using a range of attributes such as climate, geomorphology,
                    geology, soils and vegetation. The advisory list recognises five weed biomes: Coasts and Heathlands,
                    Ranges, Mallee and Semi-arid, Inland Plains, and Aquatic
                </p>
            </td>
        </tr>
        <tr>
            <td><strong>Climate Zones</strong></td>
            <td>
                <p>
                    Climate zones are areas with distinct climates, which occur in east-west
                    direction around the Earth, and can be classified using different climatic parameters.
                </p>
            </td>
        </tr>
        <tr>
            <td id="type"><strong>Plant Types</strong></td>
            <td>
                <strong>Annual</strong>
                <p>Plant which completes its life cycle and dies within one year.</p>
                <strong>Biennial</strong>
                <p>Plant which completes its life cycle and dies within the second year.</p>
                <strong>Perennial</strong>
                <p>
                    Perennial is a plant whose life span extends over several years.
                </p>
                <strong>Deciduous</strong>
                <p>Falling seasonally, e.g. bark, leaves, petals</p>
                <strong>Evergreen</strong>
                <p>
                    An evergreen is a tree or plant that doesn&#39;t shed its leaves in the winter, but stays
                    green all year.
                </p>
                <strong>Herb</strong>
                <p>
                    A vascular plant which does not develop a woody stem
                </p>
                <strong>Vegetable</strong>
                <p>
                    Plant which completes its life cycle and dies within one year. A vegetable is a plant's edible stem, root, tuber, leaf or flower.
                </p>
                <strong>Aquatic</strong>
                <p>
                    Aquatic plants are plants that have adapted to living in aquatic environments (saltwater or freshwater).
                </p>
                <strong>Bromeliad</strong>
                <p>
                    Distinctive, water-absorbing scales on their leaves and stems.
                </p>
                <strong>Bulb</strong>
                <p>
                    Thick storage organ, usually underground, consisting of a stem and leaf bases (the inner ones fleshy).
                </p>
                <strong>Climber</strong>
                <p>
                    Long, flexible stems with abundance of soft tissue that allow for rapid growth, and vegetative regeneration.
                </p>
                <strong>Fruit</strong>
                <p>
                    Fruit is seed-bearing structure in angiosperms formed from the ovary, and sometimes associated floral parts, after flowering.
                </p>
                <strong>Fern</strong>
                <p>
                    Fern leaves are called fronds, which are diverse in size, texture and color, depending on species.
                </p>
                <strong>Shrub</strong>
                <p>
                    Shrub is a woody perennial plant without a single main trunk and smaller than a tree.
                </p>
                <strong>Tree</strong>
                <p>
                    Tree is a woody plant, usually with a single stem and more than c. 8 m high.
                </p>
                <strong>Grass</strong>
                <p>
                    A plant belonging to the family Poaceae.
                </p>
                <strong>Groundcover</strong>
                <p>
                    Groundcover or ground cover is any plant that grows over an area of ground.
                </p>
                <strong>Large Tree</strong>
                <p>
                    A large tree is defined as a living tree of any species that has a diameter at breast height over bark (DBHOB) equal to or greater than 2.5 metres.
                </p>
                <strong>Medium Tree</strong>
                <p>
                    Small to fence sized hedge
                </p>
                <strong>Small Tree</strong>
                <p>A woody perennial plant without a single main trunk and smaller than a tree.</p>
                <strong>Palms and Cycads</strong>
                <p>
                    Palms have flowers while cycads are cone bearing like pine trees
                </p>
                <strong>Succulent</strong>
                <p>
                    Juicy, fleshy; a plant with a fleshy habit.
                </p>
            </td>
        </tr>
        <tr>
            <td><strong>Impact on natural systems</strong></td>
            <td>
                <p>
                    A measure of the expected ecological consequences following invasion and establishment.
                </p>
                <strong>Typically significant</strong>
                <p>Species with the ability to cause acute disruption to ecological processes, dominate vegetation strata and cause severe loss of biodiversity. Multiple cases of invasion with high impact consequences are known or documented.</p>
                <strong>Occasionally significant</strong>
                <p>
                    Species with the ability to invade native vegetation with low levels of disturbance and cause loss of biodiversity. Cases of invasion are known or the potential to cause biodiversity losses are considered sufficient to warrant suppression.
                </p>
                <strong>Rarely significant</strong>
                <p>
                    Species naturalised in native vegetation, but causing minimal disruption to ecological processes, losses to biodiversity are minimal or their presence is transient.
                </p>
                <strong>Insignificant</strong>
                <p>
                    Species is not currently invasive
                </p>
            </td>
        </tr>
        <tr>
            <td><strong>Area of potential distribution remaining</strong></td>
            <td>
                <p>An estimate of the area of unoccupied, but potentially suitable habitat available. This excludes consideration of the natural distribution of species native to Victoria. </p>
                <strong>Early stage of invasion</strong>
                <p>
                    Species has occupied less than 1% of its potential range within natural systems.
                </p>
                <strong>Extensive potential for further spread</strong>
                <p>The species has occupied only a small proportion of its potential distribution in Victoria and few, if any constraints limit future expansion. Estimated 1-10 % of potential range within natural systems occupied.</p>
                <strong>Moderate potential for further spread</strong>
                <p>
                    The species is well-established within its possible range, however there is considerable potential for range extension/infilling. Estimated 10 -75 % of potential range within natural systems occupied.
                </p>
                <strong>Minor potential for further spread</strong>
                <p>
                    The species has occupied most of its potential range in Victoria. Greater than 75% of potential range within natural systems is estimated to be currently occupied.
                </p>
                <strong>No wild populations persist in Victoria</strong>
                <p>Species that have been naturalised in Victoria at some period since 1850 but no longer persist in the wild. </p>
            </td>
        </tr>
        <tr>
            <td><strong>Potential for invasion</strong></td>
            <td>
                <p>
                    A current estimate of a species capacity to invade and persist in natural ecosystems (note that this may change over time). We consider ‘native vegetation’ to be vegetation where the total overlapping foliage cover is predominantly composed of locally indigenous plants. Species native to Victoria were scored in the context of their “naturalised” range only.
                </p>
                <strong>Highly invasive</strong>
                <p>Species that readily establish in native vegetation. </p>
                <strong>Moderately invasive</strong>
                <p>Species with limited capacity to establish in native vegetation. </p>
                <strong>Somewhat invasive</strong>
                <p>Species with poor ability to establish and persist in native vegetation. </p>
                <strong>Currently non-invasive</strong>
                <p>Species have currently not demonstrated a capacity to invade native vegetation. </p>
            </td>
        </tr>
        <tr>
            <td><strong>Rate of dispersal</strong></td>
            <td>
                <p>A relative measure of the rate of spread of the weed species based largely on non-human means of dispersal (i.e. wind, water, birds or other animals).</p>
                <strong>Rapid</strong>
                <p>Dispersal is rapid and the species is capable of long-distance transport. This is usually associated with species with very small seeds, bird-dispersed seeds or wind-dispersed seeds.</p>
                <strong>Moderate</strong>
                <p>Long-distance dispersal is uncommon with most dispersal within confined distances from the parent population. </p>
                <strong>Slow</strong>
                <p>Species with short dispersal ranges; mostly species that propagate only by asexual means or produce large seeds that are not transported widely by wind, animals or water. </p>
            </td>
        </tr>
    </table>






    <!--<span class="anchor" id="type"></span>
    <h3 class="text-center"><strong>Description of Type Attribute</strong></h3>
    <table class="table">
        <thead>
            <tr>
                <th>Plant type</th>
                <th>Description</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>type1</td>
                <td>desc1</td>
            </tr>
            <tr>
                <td>type2</td>
                <td>desc2</td>
            </tr>
        </tbody>
    </table>
    <hr />

    <span class="anchor" id="flower"></span>
    <h3 class="text-center"><strong>Description of Flower Colour Attribute</strong></h3>
    <table class="table">
        <thead>
            <tr>
                <th>Flower colour</th>
                <th>Description</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>type1</td>
                <td>desc1</td>
            </tr>
            <tr>
                <td>type2</td>
                <td>desc2</td>
            </tr>
        </tbody>
    </table>
    <hr />

    <span class="anchor" id="leaf"></span>
    <h3 class="text-center"><strong>Description of Leaf Colour Attribute</strong></h3>
    <table class="table">
        <thead>
            <tr>
                <th>Leaf colour</th>
                <th>Description</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>type1</td>
                <td>desc1</td>
            </tr>
            <tr>
                <td>type2</td>
                <td>desc2</td>
            </tr>
        </tbody>
    </table>
    <hr />

    <span class="anchor" id="main"></span>
    <h3 class="text-center"><strong>Description of Maintenance Attribute</strong></h3>
    <table class="table">
        <thead>
            <tr>
                <th>Maintenance</th>
                <th>Description</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>type1</td>
                <td>desc1</td>
            </tr>
            <tr>
                <td>type2</td>
                <td>desc2</td>
            </tr>
        </tbody>
    </table>
    <hr />-->
</div>