@{
    ViewBag.Title = "FAQ";
}
<div class="container">
    <h5><a href='javascript:history.go(-1)'>Go Back to Previous Page</a></h5>
    <h2 class="text-center">@ViewBag.Title</h2>
    <hr />
</div>

<div class="container">
    <span class="anchor" id="type"></span>
    <h3 class="text-center"><strong>Description of Type Attribute</strong></h3>
    <table class="table">
        <thead>
            <tr>
                <th col-xs-4>Plant type</th>
                <th col-xs-8>Description</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>type1</td>
                <td>desc1</td>
            </tr>
            <tr>
                <td>type2</td>
                <td>desc2</td>
            </tr>
        </tbody>
    </table>
    <hr />

    <span class="anchor" id="flower"></span>
    <h3 class="text-center"><strong>Description of Flower Colour Attribute</strong></h3>
    <table class="table">
        <thead>
            <tr>
                <th col-xs-4>Flower colour</th>
                <th col-xs-8>Description</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>type1</td>
                <td>desc1</td>
            </tr>
            <tr>
                <td>type2</td>
                <td>desc2</td>
            </tr>
        </tbody>
    </table>
    <hr />

    <span class="anchor" id="leaf"></span>
    <h3 class="text-center"><strong>Description of Leaf Colour Attribute</strong></h3>
    <table class="table">
        <thead>
            <tr>
                <th col-xs-4>Leaf colour</th>
                <th col-xs-8>Description</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>type1</td>
                <td>desc1</td>
            </tr>
            <tr>
                <td>type2</td>
                <td>desc2</td>
            </tr>
        </tbody>
    </table>
    <hr />

    <span class="anchor" id="main"></span>
    <h3 class="text-center"><strong>Description of Maintenance Attribute</strong></h3>
    <table class="table">
        <thead>
            <tr>
                <th col-xs-4>Maintenance</th>
                <th col-xs-8>Description</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>type1</td>
                <td>desc1</td>
            </tr>
            <tr>
                <td>type2</td>
                <td>desc2</td>
            </tr>
        </tbody>
    </table>
    <hr />
</div>