@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <div class="hero-text">
        <h1>GardenBloomVic</h1>
        <p class="lead">
            Together, let's get rid of invasive plants and manage a healthy garden with GardenBloomVic!
        </p>
    </div>
</div>

<div class="container">
    <div class="row" style="padding-top:30px; padding-bottom:30px;">
        <div class="col-sm-12">
            <p>Weeds, or invasive plants, pose a serious threat to primary production and biodiversity in Victoria. Many species have the potential to reduce agricultural productivity, displace native species, threaten social values and contribute significantly to land and water degradation. This is why it is important to have knowledge about them, and remove them in a timely manner. We aim to provide alternative plants that are non-invasive as replacements, which can help keep your <strong>GardenBloom</strong>ing!</p>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <div class="card">
                <h4 class="text-center">Invasive Plants</h4>
                <div>
                    <a href="@Url.Action("Index", "Invasives")">
                        <img src="~/Image/Home/invasive.jpg" class="img-fluid" />
                        <div class="overlay">
                            <div class="text">Discover Invasive plants which can be harmful for your garden!</div>
                        </div>
                    </a>
                    <h5>
                        Invasive plants or weeds, commonly known as "Alien Species" are those which do not belong to native soil, and end up causing harm to native plants.
                    </h5>
                </div>
            </div>
        </div>

        <div class="col-sm-6">
            <div class="card">
                <h4 class="text-center">Non-Invasive Plants</h4>
                <div>
                    <a href="@Url.Action("Index", "NonInvasives")">
                        <img src="~/Image/Home/noninvasive.jpg" class="img-fluid" />
                        <div class="overlay">
                            <div class="text">Check out Non-Invasive Plant alternatives to have a beautiful and healthy garden!</div>
                        </div>
                    </a>
                    <h5>
                        Non-Invasive Plants are those which do not possess invading characteristics, which make them native to the Australian soil.
                    </h5>
                </div>
            </div>
        </div>
    </div>
</div>


