@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <div class="hero-text">
        <h1>GardenBloomVic</h1>
        <p class="lead">
            Together, let's get rid of invasive plants and manage a healthy garden with GardenBloomVic!
        </p>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-sm-6">
            <div class="card">
                <h3 class="text-center">Invasive Plants</h3>
                <a href="@Url.Action("Index", "Invasives")">
                    <img src="~/Image/Home/invasive.jpg" class="img-responsive" />
                    <div class="overlay">
                        <div class="text">Find detailed information about Invasive plants</div>
                    </div>
                </a>
                <p style="height:50px">Discover Invasive plants which can be harmful for your garden!</p>
            </div>
        </div>

        <div class="col-sm-6">
            <div class="card">
                <h3 class="text-center">Non-Invasive Plants</h3>
                <a href="@Url.Action("Index", "NonInvasives")">
                    <img src="~/Image/Home/noninvasive.jpg" class="img-responsive" />
                    <div class="overlay">
                        <div class="text">Find detailed information about Non-Invasive plants</div>
                    </div>
                </a>
                <p style="height:50px">Check out Non-Invasive Plant alternatives to have a beautiful and healthy garden!</p>
            </div>
        </div>
    </div>
</div>


