@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <div class="hero-text">
        <h1>HealthyGrove</h1>
        <p class="lead">Don't just grow your garden, know your garden.</p>
    </div>
</div>

<div class="container">
    <div class="row">
        <p>Having a weed in your garden can cause various problems and it can restrict the growth of other plants. If these weeds are not checked with in time, they can compete with other plants for nutrients, space, water and soil, which restrict growth of other native or non-invasive plants in your garden. There are also certain types of weeds which can also block drainage pipe. HealthyGrove provides a detailed solution for these problems.</p>
        <div class="col-sm-6">
            <div class="card">
                <h3 class="text-center">Invasive Plants</h3>
                <a href="@Url.Action("Index", "Invasives")">
                    <img src="~/Image/Home/invasive.jpg" class="img-responsive" />
                    <div class="overlay">
                        <div class="text">Find detailed information about Invasive plants</div>
                    </div>
                </a>
                <p style="height:50px">Discover Invasive plants which can be harmful for your garden!</p>
            </div>
        </div>

        <div class="col-sm-6">
            <div class="card">
                <h3 class="text-center">Non-Invasive Plants</h3>
                <a href="@Url.Action("Index", "NonInvasives")">
                    <img src="~/Image/Home/noninvasive.jpg" class="img-responsive" />
                    <div class="overlay">
                        <div class="text">Find detailed information about Non-Invasive plants</div>
                    </div>
                </a>
                <p style="height:50px">Check out Non-Invasive Plant alternatives to have a beautiful and healthy garden!</p>
            </div>
        </div>
    </div>
</div>


